terraform/.tfvars
universe-messenger-key.pem
terraform/.env.prod
terraform/.terraform
terraform.tfstate
terraform.tfstate.backup
frontend/.env.production
terraform/go-backend-key.pem
terraform/jump-server-key.pem
terraform/.terraform.lock.hcl
terraform/*.pem
terraform/*.key
flink/inbound-messages-stream/.idea/
flink/inbound-messages-stream/target/
backend/docker/dynamodb/shared-local-instance.db

